@import "varijable";
table{
  margin: 0 auto;
  border: solid;
  font-size: 2.5rem;
  padding: 2rem;
  width: auto;
}
.kolona{
  border: solid !important;
  text-transform: none;
  padding: 2rem;

}
.sub-heading{
  text-align: center;
  color: $green;
  font-size: 2rem;
  padding-top: 1rem;
  margin-top: 10rem;
}

.heading{
  text-align: center;
  color: $black;
  font-size: 3rem;
  padding-bottom: 2rem;
  text-transform: none;

}

.dishes .box-container{
  display: grid;                                            /*fr-merna jedinica fractional unit 1fr je polovina grida*/
  grid-template-columns: repeat(auto-fit,minmax(45rem,1fr));/*grid-template-colums praci sablon tabele|| minmax- ukoliko je velicina ekrana veca od 1fr ignorise ovu drugu i obrnuto*/
  gap: 1.5rem;
}

.dishes .box-container .box{
  padding: 2.5rem;
  background: #fff;
  border-radius: .5rem;
  border: .1rem solid rgba(0,0,0,.2);
  box-shadow: $box-shadow;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.dishes .box-container .box .fa-heart,
.dishes .box-container .box .fa-eye{
  position: absolute;
  top: 1.5rem;
  background: #eee;
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  font-size: 2rem;
  color: $black;
}

.dishes .box-container .box .fa-heart{/*DAL postoji bolji nacin nego sa ovim srcima da se dodje do ovog dela strane lol */
  right: -15rem;
  text-align: center;
}

.dishes .box-container .box .fa-eye{
  padding-top: 1.5rem;
  left: -15rem;
  text-align: center;
}

.dishes .box-container .box:hover .fa-heart{
  padding-top: 1.5rem;
  right: 1.5rem;
  text-align: center;
}

.dishes .box-container .box:hover .fa-eye{
  left: 1.5rem;
  text-align: center;
}

.dishes .box-container .box img{
  height: 17rem;
  margin: 1rem 0;
}

.dishes .box-container .box h3{
  color: $black;
  font-size: 2.5rem;
}

.dishes .box-container .box .stars{
  padding: 1rem 0;
}

.dishes .box-container .box .stars i{
  font-size: 1.7rem;
  color: $green;
}

.dishes .box-container .box  span{
  display: flex;
  justify-content: center;
  color: $green;
  font-weight: bolder;
  margin-right: 1rem;
  font-size: 2.5rem;
}









