@import "varijable";
p{
  text-transform: none;
}
section{
  padding: 2rem 9%;
}

.home .home-slider .slide{
  display: flex;
  align-items: center;
  gap: 2rem;
  padding-top: 9rem;

}

.home .home-slider .slide .content {
  flex: 1 1 45rem;

}

.home .home-slider .slide .image {
  flex: 1 1 45rem;


}

.home .home-slider .slide .image img{
  width: 100%;

}

.home .home-slider .slide .content span{
  color: $green;
  font-size: 2.5rem;
  text-transform: none;

}

.home .home-slider .slide .content h3{
  color: $black;
  font-size: 7rem;
  text-transform: none;

}

.home .home-slider .slide .content p{
  color: $light-color;
  font-size: 2.2rem;
  padding: .5rem 0;
  line-height: 1.5;
}


.btn{
  margin-top: 1rem;
  display: inline-block;
  font-size: 1.7rem;
  color: #fff;
  background: $black;
  border-radius: .5rem;
  cursor: pointer;
  padding: .8rem 3rem;
}

.btn:hover{
  background: $green;
  letter-spacing: .1rem;
}

.carousel-control{
  background-image: none !important;
}

.glyphicon-chevron-left:before, .glyphicon-chevron-right:before{
  color: red;

}

ol.carousel-indicators {
  position: absolute;
  bottom: 0;
  margin: 0;
  left: 0;
  right: 0;
  width: auto;
}

ol.carousel-indicators li,
ol.carousel-indicators li.active {
  float: left;
  width: 33%;
  height: 20px;
  margin: 0;
  border-radius: 0;
  border: 0;
  background: transparent;
}

ol.carousel-indicators li.active {
  background: $green;
}